/*heder stert*/
.heder{
	border: 1px black solid; 
	padding: 10px; 
	background-color: #242343;
}
.font-icon{
	font-size:34px; 
	color:white; 
	padding: 20px;
}/*heder end*/


 
.menu-background{
	background-color: #CF6A6A !important;
}

.time_watch{
	text-align: center;
}

.watch_and_hight{
	height:331px;
	width: 100%;
}

 .box-shadhw{
  box-shadow: 5px 0px 5px 0px #888888!important;
}

.image_and_title{
	height:250px;
	width: 100%;
}

.image_and_title_one{
	text-align: justify;
}

.google_one{
	padding-right:0px !important; 
	padding-top:5px !important;
}

.song_start{
	box-shadow:0px 0px 5px 2px #888888; 
	background-color:#485166;
}

.maherpur_slider_background{
	background-color:#212121;
	padding:10px;
	text-align: justify;
}

.slider_width_height{
	height:400px !important; 
	width: 100%;
}

.slider_long{
	height:400px !important; 
	width: 100%;
}

.four_img_title{
	color: red;
}

.four_img_write{
	color: white;
}









 {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}








@media screen and (max-width: 768px) {
	.logo_image{
		margin: 0 auto;
	}
	.font_icon{
		float: right;
	}

	.watch{
		height: 200px !important;
	}

	.write_padding{
		margin-top: 0px !important;
	}

}
















